.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: moveBackground 5s 1 linear;
}
@keyframes moveBackground {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
body{
    background-color:  #f0f0f0;
    font-family: 'Trebuchet MS';
    padding-top: 50px;
}
fieldset{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}
legend{
    padding-bottom: 3px;
    font-weight: bold;
    color: blue;
    font-family: 'monospace';
    font-size: 1.5em;
    text-transform: capitalize;
}
#m,
input[type="text"],
input[type="email"],
input[type="tel"]
{
display: block;
margin: 5px;
width: 400px;
font-family: 'Helyetica Neue','Helvetica','Arial','sans-serif';
border-radius: 5px;
border: 1px solid #ccc;
font-size: 20px;
height: 30px;
box-shadow: 5px 5px rgba(0, 0,255, 2);
}
input:invalid,input:focus{
background-color: #F0DDDD;
border-color: rgba(236, 26, 222, 0.493);
box-shadow: 5px 5px  rgba(161, 10, 178, 0.925);

input[type="submit"],
input[type="reset"]{
width: 100px;
margin: 10px;
}}
input[type="submit"]:hover{
background-color: green;
color: white;
cursor: pointer;
}
input[type="reset"]:hover{
    background-color: rgba(225, 0, 255, 0.825);
    color: white;
    cursor: pointer;
}
:required,textarea{ 
border-color: rgb(5, 233, 17);
box-shadow: 5px 5px rgba(0, 0, 255, 5);
}
label{
    color: blue;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
}
